p{
	margin:3px;
	clear: right;
}
h1{
	text-align: center;
}

#content{
	background-color: gray;
	border: 2px solid black;
	margin-left: 15px; 
	margin-right: 15px;
	margin-top: 30px;
	box-sizing: border-box;
}
#etiqueta1{
	background-color: orange;
	border: 1px solid black;
	margin:0px;
	margin-bottom: 5px;
	position: relative;
	float: right;
	box-sizing: border-box;
	text-align: center;
}
#etiqueta2{
	background-color: #EC593A;
	border: 1px solid black;
	margin:0px;
	margin-bottom: 5px;
	position: relative;
	float: right;
	box-sizing: border-box;
	text-align: center;

}
#etiqueta3{
	background-color: #3AEC9A;
	border: 1px solid black;
	margin:0px;
	margin-bottom: 5px;
	position: relative;
	float: right;
	box-sizing: border-box;
	text-align: center;

}
@media (min-width: 992px){
	.ramiro-1, .ramiro-2, .ramiro-3, .ramiro-4, .ramiro-6, .ramiro-12{
		float: left;	

	}
	.ramiro-1{
		width: 8.33%
	}
	.ramiro-2{
		width: 16.66%
	}
	.ramiro-3{
		width: 25%
	}
	.ramiro-4{
		width: 33.33%
	}
	.ramiro-6{
		width: 50%
	}
	.ramiro-12{
		width: 100%
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.luicito-1, .luicito-2, .luicito-3, .luicito-4, .luicito-6, .luicito-12{
		float: left;
	}
	.luicito-1{
		width: 8.33%
	}
	.luicito-2{
		width: 16.66%
	}
	.luicito-3{
		width: 25%
	}
	.luicito-4{
		width: 33.33%
	}
	.luicito-6{
		width: 50%
	}
	.luicito-12{
		width: 100%
	}
}

@media (max-width: 767px){
	.solfia-1, .solfia-2, .solfia-3, .solfia-4, .solfia-6, .ramiro-12{
		float: left;
	}
	.solfia-1{
		width: 8.33%
	}
	.solfia-2{
		width: 16.66%
	}
	.solfia-3{
		width: 25%
	}
	.solfia-4{
		width: 33.33%
	}
	.solfia-6{
		width: 50%
	}
	.solfia-12{
		width: 100%
	}
}